@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  display: block;
  background-size: 100% 100%;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans' sans-serif;
  color: yellow;
}

html {
    height: 100%
}

h1 {
  color: white;
  font-size: 35px;
}

p {
  font-size: 20px;
  text-shadow: 4px 4px rgb(149,149,149);
}



button {
  width : 75px;
  height : 50px;
  font-size: 20px;
  margin : 25px;
  opacity: 0.5;
}


.button:hover {
  opacity : 1;
  border: 1px solid rgba(149,149,149,0.8);
  border-radius: 15px;
}

.main {
  display: block;
  width: 600px;
  height: 500px;
  margin: 100px auto 100px auto;
  text-align: center;
  background: red;
  border: 1px solid;
}


/*.container {
  display: block;
  position: absolute;
  top: 101px;
  left: 32%;
  width: 475px;
  height: 475px;
  background-color: green;
}*/

.box {
  /*display: inline-block;
  position: relative;*/
  float: left;
  width: 25%;
  height: 32%;
  border: 1px solid black;
  margin: 1px;
}

.square {
  /*display: inline-block;
  position: relative;*/
  float: left;
	width: 30%;
	height: 30%;
	background:blue;
  margin: 0.25px;
  border: 0.5px solid white;
}
